*{
	margin: 0;
	padding: 0;
}

html, body{
	height: 100%;
}

.wrapper{
	position: absolute;
	width: 300px;
	height: 300px;
	top: 50%;
	left: 50%;
	margin-top: -150px;
	margin-left: -150px;
}

.wrapper .top,
.wrapper .left,
.wrapper .middle,
.wrapper .right,
.wrapper .bottom
{
	height: 100px;
	width: 100px;
	box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.6);
	box-sizing: border-box;
	border-radius: 10px;
}

.wrapper .flex-box{
	/*display: -webkit-box;*/
	/*display: -moz-box;
	display: -ms-box;
	display: -o-box;*/
	display: -webkit-flex;
	width: 300px;
	height: 100px;
}

.wrapper .top{
	margin: 0 100px;
	background-color: rgb(255, 238, 210);
}

.wrapper .right{
	background-color: rgb(219, 208, 167);
}

.wrapper .bottom{
	margin-left: 100px;
	background-color: rgb(230, 208, 2);
}

.wrapper .left{
	background-color: rgb(209, 76, 78);
}

.wrapper .middle{
	border-radius: 50%;
	background: rgb(18, 58, 85) url("../img/mix.png") no-repeat center;
	background-size: 24px 24px;
}