.mobile-wrapper{
	display: block;
}

.pc-wrapper{
	display: none;
}

input,button{
	outline: none;
}

html {
	font-size: 62.5%
}

html, body{
	min-width: 320px;
}

header{
	font-size: 5rem;
}

.search-form{
	text-align: center;
	box-sizing: border-box;
	padding: 0 20px;
	font-size: 18px;
}

.search-form img{
	width: 17.5rem;
	height: 5.5rem;
	margin-bottom: 5px;
}

.search-form .search-cont{
	position: relative;
	display: flex;
}

.search-form .search-cont .search-input{
	-webkit-flex-grow: 1;
	padding-left: 5px;
	border: 1px solid #999;
	border-right: 1px solid #38f;
}

.search-form .search-cont .search-btn{
	-webkit-flex-grow: 0;
	width: 8rem;
	height: 4rem;
	border: none;
	background: #38f;
	color: #ffffff
}

.search-form .search-cont .icon-mic{
	position: absolute;
	font-size: 3rem;
	top: 0.8rem;
	right: 8rem;
}

.content-nav{
	box-sizing: border-box;
	padding: 0 20px;
}

.content-nav ul{
    display: flex;
    padding: 20px;
}

.content-nav li{
	text-align: center;
	-webkit-flex-grow: 1;
}